@import 'assets/styles/globals.scss';

.#{$prefix}-header {
  display: flex;
  align-items: center;
  padding: 0 10%;

  &-menu {
    flex: 1;
  }

  &-return {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;

    &-title {
      margin: 10px 6px;
    }
  }
}