@use '@/assets/styles/globals.scss' as *;

.#{$prefix}-post {
  padding: 0 10% 20px 10%;
  height: 100%;
  overflow-y: auto;

  &__loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
  }

  table {
    border-collapse: collapse;
  }
  
  table td,
  table th {
    border: 1px var(--post-table-border-color) solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  table th {
    background-color: var(--post-table-th-bg-color);
    font-size: 20px;
    font-weight: 700;
    
    body.weather-background-mode & {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
  
  body.weather-background-mode & {
    table td,
    table th {
      border-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}